/**   1.3 Base  **/


body{
	font-family:$base-font-family;
	color:$base-font-color;
	font-size:$base-font-size;
}
a{
	color:#6c6c6c;
	
}
a:hover, a:focus{
	color: $color-hover;
	text-decoration:none;
	outline:none;
}
ul,li{
	list-style:none;
}
img{
	display:inline !important;
	max-width:100%;
	}
input,textarea,button{
	@include border-radius(0px);
}
*{
    outline:none;
}