/*
	2.1 Block
	
 */

//block
.block {

    display: inline-block;
    float: right;
}

.block-left {
    padding-right: 56px;
}

.block-right {
    padding-right: 30px;
}

.block-footer {
    padding-bottom: 30px;
}